body {
    font-family: Arial, sans-serif;
    line-height: 2;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1,
h2,
h3 {
    color: #333;
}

code {
    background: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
}